.CurrentWeather{
  padding: 5% 12% 2% 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .location{
    font-size: 3rem;
    color: #170657; 
  }
  .location i {
    margin-right: 10px;
    color: rgb(64, 67, 233); 
  }

  .temperature{
    
  }
}