.CurrentWeather{
  padding: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .location{
    font-size: 20px;
    color: #170657; 
  }
  .location i {
    margin-right: 10px;
    color: rgb(64, 67, 233); 
  }

  .temperature{
    .value{
      font-size: 18px;
    }
  }
}