.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2035d2; /* Blue color */
    padding: 10px 30px;
    color: white;
  }
  
  /* Logo Styling */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px;
  }
  
  .Search-Bar {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .search-input {
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .search-button {
    padding: 6px 12px;
    background-color: rgb(12, 12, 80);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .search-button:hover {
    background-color: darkblue;
  }

  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }
    
    .nav-links {
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
  }